html, body { height: 100%;}

body > footer {
    position: sticky;
    top: 100vh;
}

.registration-title {
    font-family: 'Inter-Semibold', sans-serif;
    font-size: 4.2rem;
    margin-bottom: 30px;
}

.registration-form, input, select {
    font-family: 'Inter-Regular', sans-serif;
    font-size: 1.8rem;
}

legend {
    font-family: 'Inter-Semibold', sans-serif;
    font-size: 2.4rem;
}

.registration-form-buttons {
    margin: 30px 0;
    text-align: center;
}

.personal-info-fieldset {
    margin-bottom: 20px;
}

.input-block {
    margin-bottom: 10px;
}

.required-symbol {
    color: var(--color-red);
}